@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}
html, body{
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("./img/img.png");
    background-image: url("img/img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
}
.container{
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0 , 0, 0, .2);
    backdrop-filter: blur(50px);
}

.container h1{
    font-size: 36px;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid  rgba(255,255,255, .2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 5px;
}

.remember-forgot a {
    text-decoration: none;
    color: #fff;

}

.remember-forgot a:hover{
    text-decoration: underline;
}

.Login{
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0 , 0, 0, .2);
    margin-top: 20px;
}

.login:hover{
    background-color: transparent;
    border: 2px solid  rgba(255,255,255, .2);
    color: #fff;
    transition: 0.5s;
}

.register-link{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register-link a:hover{
    text-decoration: underline;
}
.Cadastro{
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0 , 0, 0, .2);
}

.Cadastro:hover{
    background-color: transparent;
    border: 2px solid  rgba(255,255,255, .2);
    color: #fff;
    transition: 0.5s;
}
.input-box input::placeholder{
    color: #fff;
}

.homer.container{
    width: 400px;
    max-width: 900px;
}
.slideshow {
    width: 100%;
    max-width: 900px;
    height: 400px;
    overflow: hidden;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px #0005;
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    animation: slide 20s infinite;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
    0%   { transform: translateX(0); }
    33%  { transform: translateX(-100%); }
    66%  { transform: translateX(-200%); }
    100% { transform: translateX(0); }
}
